<div class="about-container">
    <div class="about-pic-wrapper">
        <img src="../../assets/about-section/WhatsApp_Image_2023-05-24_at_16.27.02-removebg-preview.png" alt="logo" class="about-main-pic">
    </div>
    <div class="logo-name-wrapper">
        <img src="../../assets/logo/dream-high-resolution-logo-color-on-transparent-background-no-squere.svg" alt="logo" class="logo-name">
         <div class="description-wrapper">
            <div class="description-title">עוגות קסומות לכל אירוע</div>
            <div class="description">בקונדיטוריית הבוטיק שלנו, היחידה מסוגה בחיפה, אנו מייצרים בעבודת <br> קפדנית מגוון רחב של פסיטרי ומאפים בניחוח וסגנון צרפתי אותנטי.יד</div>
        </div> 
    </div>
</div>