@font-face {
    font-family: "Varela Round";
    src: local("Varela Round"), url(../../assets/fonts/Varela_Round/VarelaRound-Regular.ttf) format("truetype");
}

:host {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-content: center;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 57vh;
    width: 64vw;

    .logo-name-wrapper {
        width: 32vw;
        direction: rtl;
        padding-top: 5vh;

        .logo-name {
            width: 94%;
        }

        .description-wrapper {
            font-family: Varela Round;
            align-self: start;
            margin-top: 3vh;
            direction: rtl;
            // background-color: white;
            color:  #0a1b25;

            .description-title {
                font-weight: 700;
                font-size: 25px;
                line-height: 32px;
            }

            .description {
                font-weight: 400;
                font-size: 13px;
            }
        }
    }

    .about-pic-wrapper {
        display: grid;
        justify-content: right;

        .about-main-pic {

            width: 30vw;
            background-image: url('../../assets/clouds/cloud-removebg-preview.png');
            background-repeat: no-repeat;
            background-size: 90vh;
            // border-right: 4px solid #FFA1C6;
            align-self: center;
        }
    }

}

.left-cloud {
    position: absolute;
    top: 10vh;
    left: 0;
    height: 30vh;
    opacity: 0.8;
}

.right-cloud {
    position: absolute;
    top: 12vh;
    left: 85%;
    height: 25vh;
    opacity: 0.8;
}