<div class="menu-wrapper">
  <div class="top-line"></div>
  <menu class="menu" ngModel #menuRef>
    <div>.</div>
    <div class="left-side-menu-wrapper">
      <ul class="left-side-menu" role="left-menu">
        <li class="menu-item">מיוחדים</li>
      </ul>
    </div>
    <div class="mid-side-menu-wrapper">
      <img src="assets/logo/round/dream-cakes-low-resolution-logo-color-on-transparent-background1.svg"
        class="mid-side-menu-up" *ngIf="isMenuUp; else menu_down">
      <ng-template #menu_down>
        <img src="assets/logo/round/dream-cakes-low-resolution-logo-color-on-transparent-background1.svg"
          class="mid-side-menu-down" data-aos="fade-up" data-aos-duration="300" data-aos-offset="0"
          data-aos-anchor-placement="top-center">
      </ng-template>
    </div>
    <div class="right-side-menu-wrapper">
      <div class="right-side-menu">
        <a routerLink="/" fragment="about">עלינו</a>
        <a routerLink="/" fragment="second">טופס להזמנה</a>
        <a routerLink="/" fragment="contact"> צור קשר </a>
      </div>
    </div>
    <div>.</div>
  </menu>
</div>