@font-face {
    font-family: "Varela Round";
    src: local("Varela Round"), url(../../assets/fonts/Varela_Round/VarelaRound-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Assistant";
    src: local("Assistant"), url(../../assets/fonts/Assistant/Assistant-VariableFont_wght.ttf) format("truetype");
}


.menu-container {
    position: fixed;
    top: 0;
    margin: 0;
    height: 50vh;
    font-size: 0.8vw;
}

.top-line {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FC5C9C;
    margin: 0;
    height: 8px;
}

.menu-wrapper {
    display: grid;
    background-color: white;
    justify-items: center;
    justify-content: center;
    width: 100vw;
}

.menu {
    margin: 0;
    display: grid;
    grid-template-columns: 6fr 2fr 6fr;
    background: white;
    text-decoration: none;
    width: 70vw;
    padding-left: 0;
    font-family: Varela Round;
    height: 10vh;
    align-items: center;

    background-image: linear-gradient(to right, white 0%, white 5%, rgb(241, 240, 240) 5%, rgb(241, 240, 240) 45%, white 45%, white 55%, rgb(241, 240, 240) 55%, rgb(241, 240, 240) 95%, white 95%, white 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-clip: content-box;
    transition: background-image 20s;
}

.menu-down {
    background-image: linear-gradient(to right, rgb(241, 240, 240) 0%, rgb(241, 240, 240) 100%);

    .mid-side-menu {
        height: 8vh;
        position: absolute;
        top: 2vh;
        transition: height 8s, top 8s;
    }
}

.menu-open {
    background-image: linear-gradient(to right, white 0%, white 100%);
    border: none;
    transition: background-image 1s, border 1s;
    z-index: 1000;
}

.left-side-menu,
.right-side-menu
 {
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.left-side-menu {
    justify-content: space-evenly;
}

.right-side-menu {
    justify-content: end;

}

.mid-side-menu-wrapper {
    display: flex;
    justify-content: center;
}

.mid-side-menu-up {
    height: 11vh;
    position: relative;
    top: 5vh;
    transition: height 2s, top 2s;
}

.mid-side-menu-down {
    height: 7vh;
    transition: height 8s, top 8s;
    justify-self: center;
    align-self: center;
}

.menu-item {
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;
    color: black;
    text-decoration: none;
}


.menu-item-title:hover {
    color: #C5E3F6;
}


.material-symbols-outlined {
    cursor: pointer;
    color: black;
    position: relative;
    top: 3px;
    font-size: 26px;
}

.material-symbols-outlined:hover {
    color:
        #C5E3F6;
}

.material-symbols-outlined-hovered {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: transform 150ms;
}