@font-face {
    font-family: "Varela Round";
    src: local("Varela Round"), url(../assets/fonts/Varela_Round/VarelaRound-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Assistant";
    src: local("Assistant"), url(../assets/fonts/Assistant/Assistant-VariableFont_wght.ttf) format("truetype");
}




.about-section {
  
    height: 100vh;  
    // background-image: url('../assets/candy-background.svg');
    // background-repeat: no-repeat;
    // background-position-x: right;
    // background-size: 120vh;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

